__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
.env
.venv
env/
venv/
results/data/
results/clean_model.pth
results/backdoor_model.pth
results/visualizations/*.png
.ipynb_checkpoints/
*.DS_Store
